.main_block{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:cornsilk;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.li{
    margin-bottom: 17vh;
    margin-left: 15vw
}
.jane{
    font-size: 70px;
    margin-right: 5vw;
}
.sites{
    font-size: 40px;
}
.li2{
    display: flex;
}
.logo{
    padding-right: 10vw;
    font-size: 60px;
}
.manager{
    font-size: 55px;
}
.range{
    font-size: 70px;
}